.twice-img {
  width: 200px;
  border-radius: 10px;
  margin-right: 150px;
}
.twice-img2 {
  width: 100px;
  height: 105px;
  object-fit: cover;
  object-position: center;
  margin-right: 150px;
}
.twice-img3 {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 1000px;
}
