p {
  font-family: Arial;
  margin-top: 0px;
}
.apple-buss {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}

.apple-buss2 {
  font-size: 12px;
  color: black;
  margin-left: 38px;
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.link-title {
  font-size: 12px;
  color: rgb(38, 114, 165);
  margin-left: 80px;
  margin-bottom: 25px;
}
.link:hover {
  text-decoration: underline;
  color: rgb(38, 114, 165);
}

.html-css {
  font-weight: bold;
  color: black;
  margin-bottom: 3px;
}
.html-css-sub {
  color: gray;
  font-size: 13px;
}

.html-css-desc {
  font-size: 12px;
  width: 200px;
}

.getStarted-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 25px;
}
.getStarted-button:hover {
  opacity: 0.7;
}
.getStarted-button:active {
  opacity: 0.5;
}

.new {
  color: orangered;
  font-size: 8px;
  margin-left: 110px;
  margin-bottom: 3px;
}

.mac {
  font-weight: bold;
  font-size: 12px;
  margin-left: 80px;
  margin-bottom: -1px;
}

.super {
  font-weight: bold;
  margin-left: 32px;
  margin-bottom: 4px;
}

.price {
  font-size: 8px;
  margin-left: 98px;
  font-weight: lighter;
  margin-bottom: 6px;
}

.buy-button {
  background-color: rgb(88, 119, 205);
  color: white;
  border: none;
  font-size: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 104px;
}
.buy-button:hover {
  opacity: 0.7;
}
.buy-button:active {
  opacity: 0.5;
}
